.dropDownProfilDisplayed {
    position: fixed;
    min-width: 250px;
    height: 100%;
    background-color: rgb(40, 42, 43);
    top: 65px;
    right: -3%;
    color: white;
    transition: all 0.5s linear;
    z-index: 500;
}

.dropDownProfilHid {
    position: fixed;
    width: 8%;
    min-width: 250px;
    min-width: 20px;
    height: 100%;
    background-color: rgb(40, 42, 43);
    top: 65px;
    right: -10%;
    color: white;
    transition: all 0.5s linear;
    z-index: 500;
}

ul {
    list-style: none;
    height: 100%;
    margin-top: 50px;
}

li {
    margin-bottom: 15px;
}

a {
    color: white;
    text-decoration: none;
}