.home {
    padding-top: 2%;
    /* text-align: center; */
    background-color: rgba(40, 42, 43, 0.76);
}

table {
    margin: auto;
    padding-top: 2%;
    width: 80%;
}

td {
    width: 20%;
}

table ul {
    background-color: #fff;
    border-radius: 2.5%;
    color: rgb(40, 42, 43);
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    height: 450px;
    max-height: 450px;
    display: inline-table;
}

li {
    padding: 5px;  
}

.product_image {
    /* height: 200px;
    width: 250px; */
    max-height: 200px;
    max-width: 200px;
  }



