.home {
    height: 1300px;
    background-color: rgba(105, 107, 107);
}

table {
    background-color: rgba(105, 107, 107);
    width: 100%;
    padding: 2%;
    text-align: center;
}

td {
    width: 20%;
}

table ul {
    background-color: #fff;
    border-radius: 2.5%;
    color: rgb(40, 42, 43);
    width: 80%;

    max-width: 600px;

    border: 1px solid black;
    padding: 10px;
    height: 450px;
    max-height: 450px;
    display: inline-table;
}

li {
    padding: 5px;  
}

.product_image {
    max-height: 200px;
    max-width: 200px;
  }



