.navbar {
    background-color: rgb(40, 42, 43);
    /* background-color: rgba(160, 4, 250, 0.829); */
    align-items: center;
    display: flex;
    position: sticky;
    padding-left: 3%;
    padding-right: 3%;
    top: 0;
    z-index: 100;
    height: 65px;
    color: white;
    transition: 1 ease;
}

.navbar .logos:hover{
    opacity: 0.5;
}

.nav_logo {
    display: flex;
    width: 75px;
}

.nav_search_bar {
    display: flex;
    width: 50%;
}

.nav_search_bar .search_input {
    border: none;
    width: 50%;
    height: 25px;
    outline: none;
}

.nav_search_logo {
    display: flex;
    color:  white;
    margin: auto 1%;
}


.nav_search_logo .logos {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.nav_options {
    display: flex;
    margin-left: auto;
}

.nav_options .logos {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav_options #basketLogo {
    margin-right: 10px;
}



